:root{
  --card-size: 150px;
}

main{
  height: calc( 100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  width: calc( var(--card-size)  * 4 );
  height: calc( var(--card-size) * 3 );

  display: flex;
  flex-wrap: wrap;

}

.card{
  width: var(--card-size);
  height: var(--card-size);

  cursor: pointer;

  background-image: url("images/back.png");
  background-size: contain;
}

.alien{
  background-image: url("images/alien.png");
}

.bug{
  background-image: url("images/bug.png");
}

.duck{
  background-image: url("images/duck.png");
}

.rocket{
  background-image: url("images/rocket.png");
}

.spaceship{
  background-image: url("images/spaceship.png");
}

.tiktac{
  background-image: url("images/tiktac.png");
}

.game-area{
  position: relative;
}

.game-alert{
  position: absolute;
  top: -220px;
  left:-20px;
  right: 0;
  bottom:0;

  width: 400px;
  height: 150px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);

  font-size: 20px;
}

.display-none{
  display: none;
}